#
#  RecolorHelper config
#  Version 0.3.0 
#  Released June 12 2021
#
#  CONFIG DOCUMENTATION:
#  https://github.com/brongo/recolorHelper/blob/main/CONFIG-README.md
#
#  MAKE CHANGES BELOW
#

color1 = 0.3568627450;
color2 = 0.8078431372;
color3 = 0.9803921568;

useSpecial = false;
specialSearchType = none;

# ALWAYS BACKUP YOUR WORK BEFORE USING THIS
deleteUnmodifiedFiles = true;
